@import "public.scss";

$keyword:#ea284f;
$functionTitle:#a6e22e;
$codebg: #eff0f1;
$string: #a87bc1;
$default: #000;
$type: #cc7a00;
$metaString: #0073e6;
$font:'Source Code Pro', "Roboto","sans-serif","微软雅黑","Helvetica Neue";
$fontSize: 15px;
.gutter,.code{
	pre{
		font-size: $fontSize;
		color:$green;
		background-color: $codebg;
	}
}

.code{
	.line{
		color: $default;
	}
	.meta{
		color: $string;
	}
	.meta-keyword{
		color: $default;
	}
	.meta-string{
		color: $metaString;
	}
	.string{
		color: $string;
	}
	.keyword{
		color: $default;
	}
	.built_in{
		color: $keyword;
	}
	.number{
		color: $string;
	}
	.function{
		.keyword{
			// return type;
			color: $metaString;
		}
		.title {
			// function name
			color: $keyword;
		}
		.params{
			//param list
			.keyword{
				color: $type;
				//param type
			}
		}
	}
}

figure{
	margin-top: 10px;
}
figure table{
	border-radius:0px;
	table-layout: fixed;
	min-width: 100%;
	max-width: 100%;
}
figure figcaption{
	font-size: 17px;
	a{
		float: right;	
	}
}
figure .gutter{
	width: 40px;
}

code{
	font-family:$font;
	font-size: $fontSize;
}
pre{
	font-size: $fontSize;
	font-family:$font;
	background-color: $codebg;
	color: $default;
}
.highlight{
	overflow: auto;
}

footer cite::before{
	content: "\00a0\00a0";
}
