@import "public.scss";

$keyword:#ea284f;
$functionTitle:#a6e22e;
$codebg: #333;
$string: #a87bc1;
$default: #fff;
$type: #E6DB74;

.gutter,.code{
	pre{
		font-size: 15px;
		color:$green;
		background-color: $codebg;
	}
}

.code{
	.line{
		color: $default;
	}
	.meta{
		color: $string;
	}
	.meta-keyword{
		color: $default;
	}
	.meta-string{
		color: $blue;
	}
	.string{
		color: $string;
	}
	.keyword{
		color: $default;
	}
	.built_in{
		color: $red;
	}
	.number{
		color: $string;
	}
	.function{
		.keyword{
			// return type;
			color: $blue;
		}
		.title {
			// function name
			color: $keyword;
		}
		.params{
			//param list
			.keyword{
				color: $type;
				//param type
			}
		}
	}
}

figure{
	margin-top: 10px;
}
figure table{
	border-radius:0px;
	table-layout: fixed;
	min-width: 100%;
	max-width: 100%;
}
figure figcaption{
	font-size: 17px;
	a{
		float: right;	
	}
}
figure .gutter{
	width: 40px;
}
code{
	border-radius:0px;
}
pre{
	background-color: $codebg;
	color: $default;
}
.highlight{
	overflow: auto;
}

footer cite::before{
	content: "\00a0\00a0";
}


