@import "bs-callout.scss";
@import "radial.scss";
@import "public.scss";
@import "highlight.scss";
$headerSize: 30px;
$contentWidth:750px;
$pagerSize: 25px;
*{
	font-size:100%;
}
body{
	font-size:16px;
	background-color: #f5f5f5;
}
img{
	margin-top:10px;
	margin-bottom:10px;
}
body,li,ol,p{
	font-family: "Roboto", "微软雅黑", "Roboto" ;
}
p{
	margin-top:1em;
	margin-bottom:1em;
	line-height: 200%;
}
pre{
	margin-top:0.5em;
	margin-bottom:0.5em;
}
ul,ol{
	line-height: 200%;
}
h1,h2{
	font-family: "Roboto", "微软雅黑", "Roboto" ;
	font-weight: 700;
}
h1{
	font-size: 26px;
	margin-top: 60px;
	margin-bottom: 30px;
}
h2{
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
}

blockquote{
	font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
	p{
	font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
	font-size: 17px;
	}
}
footer strong{
	font-size: 16px;
	font-family: "微软雅黑", "Roboto" ;
}
.container{
	overflow:hidden;
}

.next{
	color:$green;
	font-size: $pagerSize;
	float:right;
}

.prev{
	color:$blue;
	font-size: $pagerSize;
}

a{
	text-decoration: None;
}
a:hover{
	text-decoration: None;
}

header{
	font-size: $headerSize+20px;
	font-family: 'Lato', sans-serif;
	a{
		color: black;
		text-decoration: None;
	}
	nav{
		font-size: 13px;
		padding:0px;
	}
	.container{
		height:100%;
	}
}
$activeBackground: rgba(231,231,231, 0);
$activeBackgroundTop: rgba(231,231,231, 1);
.navbar{
	height:100%;
	margin-bottom:0px;
	border-style:none;
	background-color:transparent;
	ul.nav{
		margin-top:20px;
	}
	@media screen and (min-width:$contentWidth){
		float:right;
		width:50%;
	}
	ul.nav li{
		float:left;
		border-top-width:2px;
		border-top-style:solid;
		border-top-color:transparent;
	}
	ul.nav{
		li.active:nth-child(3n+1){
			border-top-color:$red;
		}
		li.active:nth-child(3n+2){
			border-top-color:$green;
		}
		li.active:nth-child(3n+3){
			border-top-color:$blue;
		}

		li:hover:nth-child(3n+1){
			border-top-color:$red;
		}
		li:hover:nth-child(3n+2){
			border-top-color:$green;
		}
		li:hover:nth-child(3n+3){
			border-top-color:$blue;
		}
		li.active a{
			background-color:transparent;
		}
		li.active:hover a{
			background-color:transparent;
		}
		//li.active{
		//	background: linear-gradient(to top, $activeBackground, $activeBackgroundTop);
		//}
	}
	padding-left:10px;
}

.col-md-12{
	padding:0px;
}

@media screen and (min-width:$contentWidth){
	.container{
		width:$contentWidth;
	}
}

.header{
	font-family: "Times New Roman", Times, serif;
}
.colorbar{
}
.itemframe{
	height:100%;
	border-color:#ddd;
	border-radius:0px 0px 4px 4px;
	border-style:solid;
	border-width:1px;
	position:relative;
	margin-top:10px;
	margin-bottom: 10px;
	border-top-width:8px;
	box-shadow:1px -1px 10px #999;	
	background-color: #fff;
	@media screen and (min-width:$contentWidth/2){
		padding:5px;
	}
	@media screen and (min-width:$contentWidth){
		padding:40px;
	}
}
.archiveframe{
	height:100%;
	border-color:#ddd;
	border-radius:0px 0px 4px 4px;
	border-style:solid;
	border-width:1px;
	position:relative;
	margin-top:10px;
	margin-bottom: 10px;
	border-top-width:8px;
	box-shadow:1px -1px 10px #999;	
	background-color: #fff;
	padding:15px;
}
.itemdate{
	color: #aaa;
}

.itempic{
	position:relative;
	margin:15px;
	z-index:1;
}
.archiveheader{
	font-size: 16px; 
	margin-top:10px;
	a {
		text-decoration: None;	
	}	
}
.archivedate{
	font-size:10px;
}
.itemheader{
	@media screen and (min-width:$contentWidth/2){
		font-size: 21px;
	}
	@media screen and (min-width:$contentWidth){
		font-size: $headerSize;
	}

	margin-top:15px;
	color: $green;
	a {
		text-decoration: None;	
	}		
}
.itemtext{
	position:relative;
	//text-align: justify;
	img{
		max-width:100%;
	}
}

.grouptext{
	margin-left:15px;
	margin-top:2em;
	border-radius:8px 8px 0px 0px;
	font-size:1.5em;	
	background-color:$green;
	color:#ffffff;
	padding-left:10px;
	padding-right:10px;
	width:min-content;
	width:-moz-min-content;
	width:-webkit-min-content;
}

.groupline{
	margin:0px;
	margin-left:15px;
	border-width:4px;
	border-color:$green;
	margin-bottom:12px;
	margin-right:15px;	
}

.container, .colobar{
	padding: 0px;
	padding-right:0px;
	padding-left:0px;
}
.posts{
	margin-top: 40px;
	margin-bottom: 20px;
}

.barshape{
	display:inline-block;
	width:33%;
	height:0.5em;
	margin-right:-4px;
}

.blue-border{
	border-color:$blue;
}

.blue{
	@extend .blue-border;
	background-color:$blue;
}
.red-border{
	border-color:$red;
}
.red{
	@extend .red-border;
	background-color:$red;
}
.green-border{
	border-color:$green;
}
.green{
	@extend .green-border;
	background-color:$green;
}
.red-text{
	color: $red;
}
.green-text{
	color: $green;
}
.blue-text{
	color: $blue;
}
.blockshape{
	width:40px;
	height:40px;
	clear:both;
}

.text-frame{
	line-height:200%;
}

.text-title{
	padding:0px;
	margin:0px;
	vertical-align:baseline;
}

.text-img{
	height:40px;
}

.banner{
	display:block;
	width:100%;
}
.headerbar{
	box-shadow:1px -1px 4px #999;	
	width:100%;
	margin-bottom:40px;
}
.headerbar td{
	width: 33.333%;
	height: 4px;
}


#pagination{
	margin-top: 10px;
	margin-bottom: 10px;
}

.subtitle{
	color:black;
	padding-left:10px;
	font-size: 0.3em;
}

.archive-year{
	color: #aaa;
	font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
	font-size: 20px;
	margin-top:10px;
	:hover{
		text-decoration: none;
	}
}
.archive-year-wrap{
	margin-top:40px;
	margin-bottom:40px;
}

.copyright{
	color:#999;
	font-size: 10px;
	a{
		color: #555;
	}
}
