<!-- include _partial/postFrame -->
<div class="container posts">
<% site.posts.each(function(post, index){ %>
	<% post.index_color=index; %>
<% }) %>

<% page.posts.each(function(post, index){ %>
	<% var color=(index%3==0?'red':(index%3==1?'green':'blue')); %>
	<% var full=false; %>
	<% include _partial/postFrame %>
<% }) %>
</div>
<% include _partial/pagination %>
